.loader-conatiner{
    background: #ffffff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    clip-path: circle(150% at 100% 100%);
    transition: clip-path 1s ease-in-out;
    .loader-circle-img{
        position: relative;
        width: 80px;
        height: 80px;
        margin: 10px;
        .loader-circle-1{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            height: 100%;
            border: solid 4px transparent;
            border-top: solid 4px $azulPrimario;
            border-left: solid 4px $azulPrimario;
            border-radius: 50%;
            animation: loader 1.5s linear infinite;
        }
        .loader-circle-2{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 75%;
            height: 75%;
            border: solid 4px transparent;
            border-top: solid 4px $azulOscuro;
            border-left: solid 4px $azulOscuro;
            border-radius: 50%;
            animation: loader 1.2s linear infinite reverse;
        }
        .loader-img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 35px;
        }
    }
}
  .loader-hide{
    clip-path: circle(0% at 100% 100%);
  }
@keyframes loader {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }    
}