.main-productos-container{
    position: relative;
    width: 100%;
    .producto-title-img-conten{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 0px 40px 0px;
        .producto-title-img{
            width: 250px;
            max-width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .producto-title{
                align-self: flex-start;
                font-size: 3rem;
                font-weight: 600;
            }
            .logo-starbene-img{
                align-self: flex-end;
                width: 100px;
                position: relative;
                &:before{
                    content: 'by';
                    position: absolute;
                    top: 0;
                    left: -15px;
                    color: $black;
                    font-style: italic;
                    opacity: 0.7;
                    font-size: 0.6rem;
                }
                .logo-starbene{
                    width: 100%;
                }
            }
        }
    }
    .container-productos{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .producto-container-izq{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            padding: 40px 0px;
            &:nth-child(3){
                background-color: $lilaSuave;
                .producto-title-container{
                    .producto-title{
                           &::before{
                            background-color: $azulPrimario;
                        }
                     }
                }
                .producto{
                    .producto-description{
                        .producto-dowloand{
                            .producto-dowloand-enlace{
                                .producto-dowloand-icono{
                                    color: $azulPrimario;
                                }
                            }
                        }
                        .producto-botons{
                            .producto-boton{
                                background-color: $azulPrimario;
                            }
                        }
                    }
                    .producto-beneficios{
                        .beneficio{
                            .beneficio-description{
                                &::before{
                                    background-color: $azulPrimario;
                                }
                            }
                        }
                    }
                }
            }
            .producto-title-container{
                align-self: flex-start;
                margin-left: 35px;
                a{
                    text-decoration: none;
                    .producto-title{
                        color: $azulOscuro;
                        font-size: 1.5rem;
                        font-weight: 600;
                        margin-bottom: 10px;
                        position: relative;
                        transition: 0.5s linear;
                        opacity: 0.9;
                        &::before{
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: -7%;
                            transform: translateY(-50%);
                            width: 2px;
                            height: 100%;
                            background-color: $azulSecundario;
                            transition: 1s;
                        }
                        &:hover::before{
                            left: 107%;
                        }
                        &:hover{
                            opacity: 1;
                            transform: scale(1.1);
                        }
                    }
                }
            }
            .producto{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .producto-img{
                    width: 200px;
                }
                .producto-description{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    .producto-title-description{
                        display: none;
                        text-align: center;
                        font-weight: 700;
                    }
                    .producto-text{
                        height: 120px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .producto-dowloand{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                        .producto-dowloand-enlace{
                            width: 100px;
                            text-decoration: none;
                            color: $black;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            .producto-dowloand-icono{
                                opacity: 0.8;
                                font-size: 3rem;
                                transition: all 0.2s ease-out;
                                color: $azulSecundario;
                                &:hover{
                                    color: $red;
                                    opacity: 1;
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                    .producto-botons{
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                        padding: 10px 0px;
                        .producto-boton{
                            width: 120px;
                            color: $white;
                            text-decoration: none;
                            text-align: center;
                            background-color: $azulSecundario;
                            border-radius: 6px;
                            padding: 10px;
                            font-size: 1.1rem;
                            box-shadow: 0px 0px 5px #000000;
                            transition: transform 300ms ease;
                            &:hover{
                                transform: scale(0.97);
                            }
                            &:nth-child(2){
                                background-color: $verde;
                                color: $black;
                            }
                        }
                    }
                }
                .producto-beneficios{
                    display: none;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 20px;
                    position: relative;
                    width: 700px;
                    .producto-beneficios-title{
                        align-self: center;
                        font-weight: 700;
                        margin-bottom: 20px;
                    }
                    .beneficio{
                        .beneficio-description{
                            position: relative;
                            transition: 0.5s;
                            &::before{
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: -15px;
                                transform: translateY(-50%);
                                width: 2px;
                                height: 100%;
                                background-color: $azulSecundario;
                                transition: 1s;
                            }
                        }
                    }
                }
            }
        }
        .producto-container-drc{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            padding: 40px 0px;
            background-color: $azulOscuro;
            &:nth-child(4){
                background-color: $white;
                .producto-title-container{
                    .producto-title{
                        color: $black;
                        &::before{
                            background-color: $azulSecundario;
                        }
                    }
                }
                .producto{
                    .producto-description{
                        color: $black;
                        .producto-dowloand{
                            .producto-dowloand-enlace{
                                color: $black;
                                .producto-dowloand-icono{
                                    color: $azulSecundario;
                                }
                            }
                        }
                    }
                    .producto-beneficios{
                        .producto-beneficios-title{
                            color: $black;
                        }
                        .beneficio{
                            .beneficio-description{
                                color: $black;
                                &::before{
                                    background-color: $azulSecundario;
                                }
                            }
                        }
                    }
                }
            }
            .producto-title-container{
                align-self: flex-end;
                margin-right: 35px;
                a{
                    text-decoration: none;
                    .producto-title{
                        color: $white;
                        font-size: 1.5rem;
                        font-weight: 600;
                        margin-bottom: 10px;
                        position: relative;
                        transition: 0.5s linear;
                        opacity: 0.9;
                        &::before{
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: -7%;
                            transform: translateY(-50%);
                            width: 2px;
                            height: 100%;
                            background-color: $verde;
                            transition: 1s;
                        }
                        &:hover::before{
                            right: 107%;
                        }
                        &:hover{
                            opacity: 1;
                            transform: scale(1.1);
                        }
                    }
                }
            }
            .producto{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .producto-img{
                    width: 200px;
                }
                .producto-description{
                    width: 90%;
                    color: $white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    .producto-title-description{
                        display: none;
                        text-align: center;
                        font-weight: 700;
                    }
                    .producto-text{
                        height: 120px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .producto-dowloand{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                        .producto-dowloand-enlace{
                            width: 100px;
                            text-decoration: none;
                            color: $white;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            .producto-dowloand-icono{
                                color: $verde;
                                opacity: 0.8;
                                font-size: 3rem;
                                transition: all 0.2s ease-out;
                                &:hover{
                                    color: $red;
                                    opacity: 1;
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                    .producto-botons{
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                        padding: 10px 0px;
                        .producto-boton{
                            width: 120px;
                            color: $white;
                            text-decoration: none;
                            text-align: center;
                            background-color: $azulSecundario;
                            border-radius: 6px;
                            padding: 10px;
                            font-size: 1.1rem;
                            box-shadow: 0px 0px 5px #000000;
                            transition: transform 300ms ease;
                            &:hover{
                                transform: scale(0.97);
                            }
                            &:nth-child(2){
                                background-color: $verde;
                                color: $black;
                            }
                        }
                    }
                }
                .producto-beneficios{
                    display: none;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-end;
                    gap: 20px;
                    position: relative;
                    width: 700px;
                    .producto-beneficios-title{
                        align-self: center;
                        color: $white;
                        font-weight: 700;
                        margin-bottom: 20px;
                    }
                    .beneficio{
                        .beneficio-description{
                            color: $white;
                            text-align: right;
                            position: relative;
                            transition: 0.5s;
                            &::before{
                                content: '';
                                position: absolute;
                                top: 50%;
                                right: -15px;
                                transform: translateY(-50%);
                                width: 2px;
                                height: 100%;
                                background-color: $verde;
                                transition: 1s;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(min-width:600px){
    .main-productos-container{
        .producto-title-img-conten{
            justify-content: flex-start;
            margin-left: 30px;
        }
        .container-productos{
            .producto-container-izq{
                .producto{
                    width: 90%;
                    flex-direction: row;
                    .producto-img{
                        width: 270px;
                    }
                    .producto-description{
                        gap: 30px;
                        .producto-title-description{
                            display: block;
                        }
                    }
                }
            }
            .producto-container-drc{
                .producto{
                    width: 90%;
                    flex-direction: row-reverse;
                    .producto-img{
                        width: 270px;
                    }
                    .producto-description{
                        gap: 30px;
                        .producto-title-description{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
@media(min-width:1000px){
    .main-productos-container{
        .fondo-productos{
            .fondo-img{
                width: 35%;
            }
            .slogan{
                font-size: 2rem;
                bottom: 5%;
            }
        }
        .container-productos{
            .producto-container-izq{
                .producto-title-container{
                    margin-left: 40px;
                }
                .producto{
                    width: 90%;
                    gap: 50px;
                    .producto-description{
                        .producto-dowloand{
                            gap: 20px;
                        }
                    }
                    .producto-beneficios{
                        display: flex;
                    }
                }
            }
            .producto-container-drc{
                .producto-title-container{
                    margin-right: 40px;
                }
                .producto{
                    width: 90%;
                    gap: 50px;
                    .producto-description{
                        .producto-dowloand{
                            gap: 20px;
                        }
                    }
                    .producto-beneficios{
                        display: flex;
                    }
                }
            }
        }
    }
}
