//Colores
$white: #ffffff;
$black:#000000;

$red: #c4302b;

$azulPrimario: #2359FF;
$azulSecundario: #4B39EF;

$azulOscuro: #18143B;
$hoverAzulOscuro: #0f0d27;
$fondoAzulOscuro: #18143b76;

$verde:#00FE82;

$lilaIntenso:#8F87D8;
$lilaSuave: #E2DDEE;

$date:#6d5dff;
$blogText:#606475;

$colorsRedes:(
    face:#3b5998,
    wtsp:#25d366,
    insta: radial-gradient(circle at 33% 100%,#fed373 4%,#f15245 30%,#d92e7f 62%,#9b36b7 85%,#515ecf),
	in:#0e76a8,
);
